#navbar-logo {
    width: 40px;
}
.navbar-brand span {
    margin: 0 10px;
    font-size: 24px;
    color: black;
}
#navbar{
    background-color: #4fb0ff;
}
#img-header{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.navbar-brand{
    z-index: 1;
}
body{
    position: relative;
}
.img-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    min-height: 100vh;
}

.nav-item{
    display: flex;
    align-items: center;
}

#currentUserInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Info-item{
    padding-left: 5px;
    padding-right: 5px;
}

.Info-box{
    margin-left: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px dashed darkblue;
}