@import url('header.css');

#img-background {
    height: 100%;
}

#hero {
    padding-top: 50px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#local-layer {
    background-color: wheat;
    border: 2px solid rgb(65, 65, 65);
    padding: 15px 20px;
    margin: 16px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 6px;
    width: 340px;
}

h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    font-size: 20px;
    font-weight: 300;
    text-align: start;
}
#player1-input {
    background-color: rgb(255, 150, 150);
}
#player2-input {
    background-color: rgb(140, 140, 255);
}

#local-form-body {
    margin-top: 16px;
    padding: 16px;
}
#local-form-body form {
    width: 100%;
}

#local-form-body label {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.local-btn {
    margin: 15px 0 15px 0;
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}

#local-form-body input[type="submit"] {
    font-weight: 800;
}